{
  "openapi": "3.0.0",
  "info": {
    "title": "Документация Ozon Seller API",
    "version": 2.1,
    "x-logo": {
      "url": "https://cdn2.ozone.ru/s3/redoc/ozon-seller-logo.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "По вопросам работы с Seller API обращайтесь в поддержку через личный кабинет.\n\n> [Инструкции по работе с маркетплейсом](https://seller-edu.ozon.ru)\n\n> [Информационная платформа и сообщество разработчиков Ozon for dev](https://dev.ozon.ru/)\n"
  },
  "servers": [
    {
      "url": "//api-seller.ozon.ru"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Общее описание",
      "tags": [
        "Introduction",
        "Getting started",
        "Auth",
        "Environment",
        "Process"
      ]
    },
    {
      "name": "Базовые методы",
      "tags": [
        "CategoryAPI",
        "ProductAPI",
        "BarcodeAPI",
        "Prices&StocksAPI",
        "Promos",
        "PricingStrategyAPI",
        "BrandAPI",
        "CertificationAPI",
        "WarehouseAPI",
        "FBS",
        "PolygonAPI",
        "FBO",
        "FboSupplyRequest",
        "FBS&rFBSMarks",
        "DeliveryFBS",
        "DeliveryrFBS",
        "Pass",
        "ReturnsAPI",
        "RFBSReturnsAPI",
        "ReturnAPI",
        "CancellationAPI",
        "ChatAPI",
        "SupplierAPI",
        "ReportAPI",
        "AnalyticsAPI",
        "FinanceAPI",
        "SellerRating",
        "InvoiceAPI"
      ]
    },
    {
      "name": "Бета-методы",
      "tags": [
        "BetaIntro",
        "BetaMethod",
        "Digital",
        "Quants",
        "ReviewAPI",
        "Questions&Answers"
      ]
    },
    {
      "name": "Premium-методы",
      "tags": [
        "Premium"
      ]
    },
    {
      "name": "Ошибки",
      "tags": [
        "Errors"
      ]
    },
    {
      "name": "Пуш-уведомления",
      "tags": [
        "push_intro",
        "push_start",
        "push_resending",
        "push_types",
        "service_response"
      ]
    },
    {
      "name": "Обновления",
      "dataSelector": "tab-news",
      "tags": [
        "News"
      ]
    }
  ],
  "tags": [
    {
      "name": "Introduction",
      "x-displayName": "Введение",
      "description": "## Что такое Ozon Seller API\n\nOzon Seller API — программный интерфейс для работы с маркетплейсом Ozon. Он даёт возможность обмениваться информацией между системой продавца и Ozon.\n\nМетоды Seller API позволяют изменять данные магазина, например, остатки товаров или их стоимость, и получать данные, \nтакие как информация о возвратах или список складов.\n\nРабота с API состоит из отправки запроса и получения ответа. Для этого можно использовать вкладку **Консоль**, которая находится сверху описания методов, [Postman](https://www.postman.com) или настроить интеграцию с системами учёта, например, 1С, ERP или МойСклад.\n\n## Когда пригодится Seller API\n\nПри интеграции системы учёта продавца с Seller API обновлять и получать данные можно в автоматическом режиме. Это \nпоможет поддерживать актуальной информацию о ценах и остатках товаров, обрабатывать больше заказов за меньшее время \nи исключить ошибки из-за обновления данных вручную.\n\nНапример, вам нужно обновить информацию об остатках или ценах 100 товаров. Чтобы сделать это через личный кабинет, \nнеобходимо вручную изменить данные на карточке каждого товара.\n\nМетод [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) позволяет одним запросом обновить информацию об \nостатках сразу 100 товаров, а метод [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) — их стоимость.\n\n## Возможности Seller API\n\n- Загружать и обновлять товары.\n- Управлять ценами и остатками по товарам.\n- Получать информацию о возвратах товаров.\n- Управлять заказами FBO, FBS и rFBS.\n- Управлять чатами.\n- Работать с накладными.\n- Получать финансовую и аналитическую информацию.\n- Получать выгрузку атрибутов и характеристик Ozon.\n\n\n"
    },
    {
      "name": "Getting started",
      "x-displayName": "Начало работы",
      "description": "<aside class=\"warning\">\nС 16.05.2025 в Seller API можно обращаться только back-to-back, прямые запросы из браузера будут запрещены. \nТакие запросы будут падать с ошибкой политики CORS.\n</aside>\n\n<br>\n\n<aside class=\"warning\">\nЕсли оферта неактуальна, доступ к Seller API будет ограничен. Вы получите ошибку <code>403 Offer not signed</code>.\nЧтобы возобновить доступ, примите оферту.\n\n[Подробнее о принятии оферты](https://seller-edu.ozon.ru/how-to-start/step-1-register#как-принять-оферту)\n</aside>\n\nПеред началом работы с Ozon Seller API:\n\n1. Изучите процессы работы с Ozon в [Базе знаний продавца](https://seller-edu.ozon.ru) и [личном кабинете продавца](https://seller.ozon.ru/app/signin).\n2. Определите процессы, которые планируете автоматизировать, и сравните их с процессами вашей компании.\n3. Изучите документацию Seller API и разработайте схему интеграции.\n\nДля работы с Seller API необходим API-ключ. Подробнее в разделе [Авторизация](#tag/Auth).\n\nSeller API работает по UTC. Учитывайте это, когда отправляете запросы и получаете ответы с датами и временем.\n\nПроцесс работы с Seller API можно разделить на блоки:\n- работа с атрибутным деревом,\n- загрузка и обновление товаров,\n- управление ценами,\n- управление остатками товара,\n- управление заказами FBO,\n- управление заказами FBS и rFBS,\n- работа с накладными,\n- получение финансовой информации,\n- получение аналитической информации,\n- управление возвратами,\n- управление чатами.\n"
    },
    {
      "name": "Auth",
      "x-displayName": "Авторизация",
      "description": "<br><aside class=\"warning\">API-ключи хранятся в личном кабинете в скрытом виде. Вы увидите API-ключ только при создании. Сохраните его в надёжном месте или сразу укажите в своих системах. \n\nВы не сможете восстановить доступ к несохранённым API-ключам. Чтобы продолжить работу с API, создайте новый ключ.\n\nOzon может отозвать ключ, если обнаружит подозрительную активность или слишком большую нагрузку на свои системы.\n</aside>\n\n## Как получить доступ к Seller API\n\n1. Зарегистрируйтесь в [Ozon Seller](https://seller.ozon.ru/app/signup). Подробнее о регистрации \n   в [Базе знаний продавца](https://seller-edu.ozon.ru/docs/how-to-start/step-1-register.html).\n2. Получите API-ключ.\n\n## Как получить API-ключ\n\n<aside class=\"warning\">\n<b>Не передавайте API-ключ посторонним людям</b>  \n\nЗапросы к API изменяют данные в вашем магазине на Ozon. Если доступ к ключу будет у посторонних, они смогут управлять \nвашим магазином.\n</aside>\n\nЧтобы получить API-ключ:\n1. В личном кабинете перейдите в [**Настройки → Seller API**](https://seller.ozon.ru/app/settings/api-keys).\n2. Нажмите **Сгенерировать ключ**.\n3. Придумайте название для ключа и выберите его уровень доступа.\n4. Нажмите **Сгенерировать**.\n\nВы можете создать несколько API-ключей. Например, если у вас несколько пользователей с разными уровнями доступа.\n\n### Отредактировать ключ\n\nЕсли вы хотите изменить разрешённые сети для ключа, в [списке API-ключей](https://seller.ozon.ru/app/settings/api-keys) выберите нужный и нажмите <img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/seller-api/edit-key_1682516858.png\" width=\"20\">.\nВнесите изменения и нажмите **Обновить**.\n\n## API-ключ попал в посторонние руки\n\n1. В личном кабинете перейдите в [**Настройки → Seller API**](https://seller.ozon.ru/app/settings/api-keys).\n2. Удалите текущий API-ключ и создайте новый."
    },
    {
      "name": "Environment",
      "x-displayName": "Рабочая среда",
      "description": "## Что такое рабочая среда\n\nРабочая среда — это ваш магазин. Все отправленные запросы, кроме информационных, могут изменять данные в личном \nкабинете и на сайте Ozon.\n\n**Рабочая среда**: api-seller.ozon.ru\n\nСозданные товары можно посмотреть по ссылке вида: https://www.ozon.ru/context/detail/id/SKU, где вместо «SKU» нужно \nуказать значение для созданного товара.\n\n## Формат запроса\n\n```http\nGET / HTTP/1.1\nHost: api-seller.ozon.ru\nClient-Id: <Client-Id>\nApi-Key: <Api-Key>\nContent-Type: application/json\n```\n\nДля проверки корректности формата запроса используйте вкладку **Консоль** над описанием метода или \n[Postman](https://www.postman.com). "
    },
    {
      "name": "Process",
      "x-displayName": "Порядок работы с методами",
      "description": "<br><aside class=\"warning\">Если от вашего имени поступает много одинаковых или ошибочных запросов, мы можем ограничить\nдоступ к Seller API без предупреждения. <br><br> Вы можете отправить не больше 50 запросов в секунду на все методы с одного Client ID.</aside>\n\n# Выгрузите атрибуты и характеристики Ozon\n\n<br><aside class=\"warning\">Чтобы методы для работы с товарами работали корректно, сопоставьте ваши категории и\nхарактеристики со значениями в системе Ozon.\n\nЕсли в методе [/v3/product/import](#operation/ProductAPI_ImportProductsV3) вы передадите значения не из справочника\nOzon, товар не будет создан или обновлён.</aside>\n\n1. [/v1/description-category/tree](#operation/DescriptionCategoryAPI_GetTree) — получите список категорий и типов в виде дерева и используйте\n   значение последнего уровня выбранной категории.\n\n2. [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes) — получите характеристики для выбранных\n   категории и типа.\n\n3. [/v1/description-category/attribute/values](#operation/DescriptionCategoryAPI_GetAttributeValues) — получите список значений для выбранной\n   характеристики.\n\n# Загрузите и обновите товары\n\nПосле сравнения своих атрибутов и характеристик с атрибутной моделью Ozon можете приступить к загрузке товаров:\n\n1. [/v3/product/import](#operation/ProductAPI_ImportProductsV3) — загрузите товары и услуги. Этот метод также позволяет\n   обновить уже загруженные товары. В запросе устанавливается первичная цена и загружаются изображения товара. \n\n   В одном запросе можно передать до 100 товаров. Изображения загружаются прямой ссылкой на облачное хранилище, где они\n   хранятся.\n\n   В результате работы метода вы получите `task_id` — номер задания на загрузку товаров.\n\n2. [/v1/product/import/info](#operation/ProductAPI_GetImportProductsInfo) — проверьте `task_id`, который вы получили при\n   загрузке товаров. Метод вернёт информацию, успешно ли загрузились товары или при импорте была ошибка.\n\n   Если ответ содержит статус, что товар на модерации, подождите её результатов и проверьте статус товара повторно.\n   Обычно модерация занимает меньше одного дня.\n\n3. [/v3/product/list](#operation/ProductAPI_GetProductList) — получите список созданных товаров после загрузки товаров.\n\n   Метод позволяет использовать фильтры, чтобы разбить товары на группы по статусу видимости или отслеживать изменение\n   их статуса с помощью идентификатора товара.\n\n   Метод возвращает пару значений `offer_id` и `product_id` — они нужны практически во всех запросах для идентификации\n   товара, с которым будет производиться действие. Если вы загружали товары через шаблон, используйте этот метод для\n   получения `offer_id` и `product_id`, чтобы в дальнейшем работать по API с товарами.\n\n## Загрузите и обновите изображения товара\n\nЧтобы добавить изображения товара или заменить существующие, используйте:\n\n1. [/v1/product/pictures/import](#operation/ProductAPI_ProductImportPictures) — загрузите или обновите изображения\n   товара. Передайте прямые ссылки на изображения, загруженные в облачное хранилище.\n2. [/v2/product/pictures/info](#operation/ProductAPI_ProductInfoPicturesV2) — проверьте статус загрузки.\n\n## Обновите товар\n\nЧтобы обновить информацию о товаре и его характеристики, используйте [/v3/product/import](#operation/ProductAPI_ImportProductsV3).\n\nЕсли нужно обновить только характеристики товара, используйте [/v1/product/attributes/update](#operation/ProductAPI_ProductUpdateAttributes).\n\n## Получите информацию о товаре\n\n- [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) — получите информацию о товаре, например штрихкод, цену\n  главного предложения, идентификатор категории, комиссию или ошибки модерации.\n  С помощью фильтров [/v3/product/list](#operation/ProductAPI_GetProductList) получите список пакетно по всем товарам сразу или по категориям.\n\n- [/v4/product/info/attributes](#operation/ProductAPI_GetProductAttributesV4) — получите описание характеристик товара.\n  Метод позволяет добавить дополнительную информацию к товару, чтобы карточка товара была более полной.\n\n- [/v1/product/info/description](#operation/ProductAPI_GetProductInfoDescription) — получите описание товара, чтобы\n  использовать его для создания схожего товара.\n\n- [/v1/product/info/discounted](#operation/ProductAPI_GetProductInfoDiscounted) — получите информацию об уценке и\n  основном товаре по SKU уценённого товара.\n\n## Удалите или архивируйте товар\n\n1. [/v2/products/delete](#operation/ProductAPI_DeleteProducts) — удалите товар, если он загрузился с ошибкой и попал в\n   архив без SKU. Товары, которые успешно прошли модерацию и получили SKU, удалить из архива нельзя.\n\n2. [/v1/product/archive](#operation/ProductAPI_ProductArchive) — перенесите товар в архив. Перед архивированием товара\n   обнулите его остатки.\n\n3. [/v1/product/unarchive](#operation/ProductAPI_ProductUnarchive) — верните товар из архива.\n\nТовар попадёт в продажу, только когда вы установите его остаток.\n\n# Загрузите сертификаты качества\n\n## Информация о сертификатах\n\n- Получите список типов сертификатов: [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes).\n- Получите список сертифицируемых категорий: [/v2/product/certification/list](#operation/ProductAPI_ProductCertificationList).\n- Получите список статусов сертификата: [/v1/product/certificate/status/list](#operation/CertificateStatusList).\n- Получите список типов соответствия требованиям: [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\n- Получите список причин отклонения сертификата: [v1/product/certificate/rejection_reasons/list](#operation/RejectionReasonsList).\n- Получите список сертификатов: [v1/product/certificate/list](#operation/CertificateList), используя фильтры:\n   - тип сертификата `type` — значение `value` из ответа [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes);\n   - статус сертификата `status` — значение `code` из ответа [v1/product/certificate/status/list](#operation/CertificateStatusList).\n\n## Работа с товарами сертификата\n\nЧтобы привязать сертификат к товару:\n1. Получите список брендов, для которых требуется предоставить сертификат: [/v1/brand/company-certification/list](#operation/ProductAPI_ProductCertificateBind).\n   В ответе вернутся бренды, товары которых есть в вашем личном кабинете.\n   Список брендов может изменяться, если Ozon получит требование от бренда предоставлять сертификат.\n2. Добавьте сертификаты для товаров: [/v1/product/certificate/create](#operation/ProductAPI_ProductCertificateCreate).\n3. Привяжите сертификат к товару: [/v1/product/certificate/bind](#operation/ProductAPI_ProductCertificateBind).\n\nЧтобы посмотреть список товаров, привязанных к сертификату, воспользуйтесь методом [v1/product/certificate/products/list](#operation/CertificateProductsList).\nЕсли нужно получить список товаров с определённым статусом, в параметре `status` передайте значение `code` из ответа [v1/product/certificate/product_status/list](#operation/ProductStatusList).\n\nЧтобы отвязать товар от сертификата, используйте [/v1/product/certificate/products/unbind](#operation/CertificateUnbind).\n\n## Управление состоянием сертификата\n\nЧтобы получить атрибуты для управления сертификатом:\n1. Получите список типов сертификатов: [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes).\n2. Получите список типов соответствия требованиям: [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\n\nДля создания сертификата используйте [/v1/product/certificate/create](#operation/ProductAPI_ProductCertificateCreate), передав в запросе:\n- тип сертификата `type_code` — значение `value` из ответа [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes);\n- тип соответствия требованиям `accordance_type_code` — значение `code` из ответа [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\n\nЧтобы удалить сертификат, используйте [/v1/product/certificate/delete](#operation/CertificateDelete).\n\n# Обновите цены и остатки товаров\n\nПосле загрузки товаров для схем FBS и rFBS можно перейти к обновлению остатков. Для схемы FBO остатки обновляются\nавтоматически по факту продажи.\n\nДля обновления остатков используйте метод [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2). \nВ этом методе дополнительно указывается идентификатор склада, на котором необходимо изменить остатки.\n\nДля получения информации о количестве остатков для FBO\nиспользуйте [/v3/product/info/stocks](#operation/ProductAPI_GetProductInfoStocksV3).\n\nДля получения информации о количестве остатков для FBS и rFBS\nиспользуйте [v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs).\n\nЧтобы обновить цены по товарам и не менять карточку товара,\nиспользуйте [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices).\n\nМетод позволяет обновить цену:\n\n- до скидок,\n- для клиентов с подпиской Ozon Premium,\n- на карточке товара с учётом скидок,\n- минимальную цену товара после применения акций.\n\n<aside class=\"warning\">\nЦена товара может упасть ниже минимальной, если вы примените разные типы акций к одному товару.\n</aside>\n\nДля получения информации о ценах, комиссиях и скидках на товары\nиспользуйте [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices).\n\n## Резерв товаров\n\nЕсли товары заказывают юридические лица, оплата может поступать не сразу — система зарезервирует товары.\nЧтобы проверить остатки, используйте методы [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3), [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) или [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\nЕсли в ответе `is_legal = true`, значит среди остатков есть зарезервированные товары.\nВы можете обновить остатки так, чтобы новое количество товаров было больше свободного остатка и зарезервированного товара в сумме. \nСистема спишет старый остаток и рассчитает новый.\n\nЧтобы проверить резервирование товара, используйте метод [/v3/product/info/stocks](#operation/ProductAPI_GetProductInfoStocksV3).\n\n[Подробнее об изменении остатков](https://seller-edu.ozon.ru/fbs/logistics-settings/upravlenie-ostatkami/#как-меняются-остатки-в-разных-ситуациях)\n\n# Участвуйте в акциях\n\nДля продвижения товаров участвуйте в акциях, которые Ozon проводит для покупателей.\n\n- Получите список доступных акций: [/v1/actions](#operation/Promos).\n\n- Получите список товаров, которые могут участвовать в акции: [/v1/actions/candidates](#operation/PromosCandidates).\n\n- Добавьте товары в акцию: [/v1/actions/products/activate](#operation/PromosProductsActivate).\n\n- Получите список товаров, которые участвуют в акции: [/v1/actions/products](#operation/PromosProducts).\n\n- Удалите товары из акции: [/v1/actions/products/deactivate](#operation/PromosProductsDeactivate).\n\nПокупатели могут попросить у вас скидку на товар.\nЧтобы получить список товаров, которые покупатели хотят купить со скидкой, воспользуйтесь методом\n[/v1/actions/discounts-task/list](#operation/promos_task_list).\nЗаявки в статусах `NEW` (новые) или `SEEN` (просмотренные) вы можете:\n- одобрить — используйте метод [/v1/actions/discounts-task/approve](#operation/promos_task_approve),\n- отклонить — используйте метод [/v1/actions/discounts-task/decline](#operation/promos_task_decline).\n\n[Подробнее об акциях в Базе знаний продавца](https://seller-edu.ozon.ru/docs/how-to-sell-effectively/promo/promo.html)\n\n# Настройте стратегии ценообразования\n\nСтратегии ценообразования — инструмент для автоматического изменения стоимости товаров в соответствии с ценами на аналогичные товары в других интернет-магазинах и маркетплейсах.\n\n[Подробнее о стратегиях в Базе знаний для продавцов из России](https://seller-edu.ozon.ru/work-with-goods/rabota-s-tsenami/rival-strategies)\n\n[Подробнее о стратегиях в Справке для продавцов Ozon Global](https://docs.ozon.ru/global/prices/pricing-strategies/)\n\nЧтобы настроить стратегии ценообразования:\n\n1. Получите список конкурентов: [/v1/pricing-strategy/competitors/list](#operation/pricing_competitors).\n\n2. Получите список стратегий ценообразования: [/v1/pricing-strategy/list](#operation/pricing_list).\n\n3. Создайте свою стратегию: [/v1/pricing-strategy/create](#operation/pricing_create) и установите коэффициенты, чтобы изменять стоимость товара по сравнению с другими площадками в большую и меньшую сторону.\n   Чтобы получить информацию о стратегии, используйте метод [/v1/pricing-strategy/info](#operation/pricing_info).\n\n4. Добавьте товары в стратегию: [/v1/pricing-strategy/products/add](#operation/pricing_items-add).\n      \n   Вы можете добавить товары:\n   - На которые установлена минимальная цена с помощью метода [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices). \n     Чтобы проверить цену, используйте метод [/v5/product/info/prices](#operation/ProductAPI_GetProductInfoPrices).\n   - Которые не привязаны к другой стратегии.\n     Чтобы проверить привязку товара к стратегии, используйте метод [/v1/pricing-strategy/strategy-ids-by-product-ids](#operation/pricing_ids).\n\n   Чтобы получить список товаров, которые привязаны к стратегии, используйте метод [/v1/pricing-strategy/products/list](#operation/pricing_items-list), а для удаления товаров из стратегии — [/v1/pricing-strategy/products/delete](#operation/pricing_items-delete).\n\n5. Включите или отключите стратегию: [/v1/pricing-strategy/status](#operation/pricing_status).\n\nЧтобы изменить список выбранных конкурентов и название стратегии, используйте метод [/v1/pricing-strategy/update](#operation/pricing_update).\n\nДля удаления стратегии используйте метод [/v1/pricing-strategy/delete](#operation/pricing_delete).\n\n# Получите информацию о складах\n\n- [/v1/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodList) — получите список методов склада.\n\n- [/v1/warehouse/list](#operation/WarehouseAPI_WarehouseList) — получите список складов.\n\n# Управляйте заказами FBO, FBS и rFBS\n\nОбработайте заказы в зависимости от схемы работы:\n\n- [cхема FBO](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBO);\n- [стандартная схема FBS](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBS-Standart);\n- [схема FBS PickUp с подключённой доверительной приёмкой](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBS-PickUp-s-doveritelnoj-priyomkoj);\n- [стандартная схема rFBS](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Standart);\n- [схема rFBS Express с доставкой в пункт выдачи](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Express-s-dostavkoj-v-punkt-vydachi);\n- [схема rFBS с доставкой через интегрированную службу](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-s-integrirovannoj-sluzhboj-dostavki);\n- [схема rFBS Агрегатор](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Agregator).\n\nЕсли вы продаёте товары из-за рубежа, обрабатывайте заказы по одной из схем:\n\n- [rFBS Crossborder](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Crossborder);\n- [rFBS Crossborder с интегрированной службой доставки](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Crossborder-s-integrirovannoj-sluzhboj-dostavki);\n- [rFBS Агрегатор](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Agregator).\n\n[Подробнее о заказах с весовыми товарами при работе по схеме rFBS](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Kak-rabotat-s-zakazami-s-vesovymi-tovarami-(rFBS))\n\n## Схема FBO\n\nПеред созданием заявки на поставку проверьте загруженность складов Ozon: [/v1/supplier/available_warehouses](#operation/SupplierAPI_SupplierAvailableWarehouses).\n\nДля получения списка отправлений, финансовой и аналитической информации\nиспользуйте [/v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList). Также метод возвращает информацию о\nпроданных кодах активации с привязкой к номеру отправления.\n\nЧтобы получить информацию по отправлению, используйте [/v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting).\n\n### Создать заявку на поставку\n\n1. [/v1/cluster/list](#operation/SupplyDraftAPI_DraftClusterList) — получите информацию по кластерам и их складам.\n2. [/v1/warehouse/fbo/list](#operation/SupplyDraftAPI_DraftGetWarehouseFboList) — получите идентификаторы складов, пунктов выдачи заказов и сортировочных центров для отгрузки кросс-докингом.\n3. [/v1/draft/create](#operation/SupplyDraftAPI_DraftCreate) — создайте черновик заявки на поставку. Для этого передайте список поставляемых товаров, тип поставки и, при доставке кросс-докингом, точку отгрузки.\n4. [/v1/draft/create/info](#operation/SupplyDraftAPI_DraftCreateInfo) — получите статус создания черновика и информацию по нему.\n5. [/v1/draft/timeslot/info](#operation/SupplyDraftAPI_DraftTimeslotInfo) — получите доступные таймслоты для конечных складов отгрузки. Максимальный период — 28 дней, начиная с текущей даты.\n6. [/v1/draft/supply/create](#operation/SupplyDraftAPI_DraftSupplyCreate) — создайте заявку на поставку по черновику.\n7. [/v1/supply/create/status](#operation/SupplyDraftAPI_DraftSupplyCreateStatus) — получите статус создания заявки на поставку. Когда заявка будет создана, метод вернёт идентификаторы заявок на поставку.\n\n### Получите информацию о заявках на поставку\n\nДля поставки на фулфилмент Ozon нужна заявка. В ней указано, какие товары и в каком количестве вы привезёте. \n\n1. [/v2/supply-order/list](#operation/SupplyOrderAPI_GetSupplyOrdersListV2) — получите список заявок на поставку.\n2. [/v1/supply-order/status/counter](#operation/SupplyOrderAPI_SupplyOrderStatusCounter) — получите статус заявки и количество поставок в этом статусе.\n3. [/v2/supply-order/get](#operation/SupplyOrderAPI_GetSupplyOrdersV2) — получите информацию по заявке.\n4. [v1/supply-order/bundle](#operation/SupplyOrderBundle) — получите состав поставки или заявки на поставку.\n\nДля проезда на фулфилмент выберите интервал поставки и оформите пропуск для водителя и автомобиля. Для этого:\n\n1. [/v1/supply-order/timeslot/get](#operation/SupplyOrderAPI_GetSupplyOrderTimeslots) — получите список доступных интервалов.\n2. [/v1/supply-order/timeslot/update](#operation/SupplyOrderAPI_UpdateSupplyOrderTimeslot) — измените выбранный интервал.\n3. [/v1/supply-order/timeslot/status](#operation/SupplyOrderAPI_GetSupplyOrderTimeslotStatus) — получите статус закрепления интервала.\n4. [/v1/supply-order/pass/create](#operation/SupplyOrderAPI_SupplyOrderPassCreate) — добавьте данные водителя и автомобиля.\n5. [/v1/supply-order/pass/status](#operation/SupplyOrderAPI_SupplyOrderPassStatus) — получите статус ввода данных о водителе и автомобиле.\n\n### Управляйте грузоместами в заявке на поставку\n\n1. [/v1/cargoes/create](#operation/CargoesAPI_CargoesCreate) — передайте количество грузомест и установите в каждое грузоместо товарный состав.\n2. [/v1/cargoes/create/info](#operation/CargoesAPI_CargoesCreateInfo) — получите информацию по установке грузомест и товарного состава.\n3. [/v1/cargoes-label/create](#operation/CargoesAPI_CargoesLabelCreate) — создайте задание на формирование этикеток грузомест.\n4. [/v1/cargoes-label/get](#operation/CargoesAPI_CargoesLabelGet) — получите статус создания этикеток и идентификатор файла с ними.\n5. [/v1/cargoes-label/file/{file_guid}](#operation/CargoesAPI_CargoesLabelFile) — получите  PDF с этикетками грузовых мест.\n\n## Схема FBS Стандарт\n\n1. Перед началом работы с отправлениями получите список необработанных\n   отправлений: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   Получите идентификаторы экземпляров `exemplar_id` методом [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet).\n\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n   \n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n   \n   Получите статусы передачи маркировок:\n\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\n\n4. Перед сборкой убедитесь, что отправление соответствует установленным в пункте приёма ограничениям. Получите\n   ограничения пункта приёма по номеру\n   отправления: [/v1/posting/fbs/restrictions](#operation/PostingAPI_GetRestrictions).\n\n5. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n6. Для каждого отправления распечатайте наклейку для идентификации в системе\n    Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n7. Подтвердите отгрузку и запустите формирование транспортной накладной методом [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) или создайте отгрузку с помощью метода [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) и подтвердите её методом [/v1/carriage/approve](#operation/CarriageAPI_CarriageApprove). \n   В ответе методов [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) и [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) вы получите идентификатор созданной перевозки.\n\n8. Запросите информацию о созданной поставке с помощью метода [/v1/carriage/get](#operation/CarriageGet). \n   Массив `available_actions` содержит информацию о доступных действиях с поставкой и необходимости создать пропуск для проезда на склад Ozon.\n\n   Чтобы создать пропуск, используйте метод [/v1/carriage/pass/create](#operation/carriagePassCreate). \n   Чтобы после поставки товаров вы могли забрать возвраты на этой же машине, передайте значение `with_returns = true`.\n   Для каждой поставки нужен новый пропуск.\n\n   Для редактирования или удаления пропуска используйте методы [/v1/carriage/pass/update](#operation/carriagePassUpdate) и [/v1/carriage/pass/delete](#operation/carriagePassDelete).\n\n   Список всех пропусков можно получить с помощью метода [/v1/pass/list](#operation/PassList).\n\n   [Подробнее об оформлении пропусков](https://seller-edu.ozon.ru/fbs/ozon-logistika/oformlenie-propuska)\n\n9. Получите список перевозок, по которым нужно распечатать штрихкод для отгрузки и транспортную накладную: [/v1/posting/carriage-available/list](#operation/PostingAPI_GetCarriageAvailableList) или [/v1/carriage/delivery/list](#operation/CarriageAPI_CarriageDeliveryList).\n\n10. Проверьте, что отгрузка создана: [/v2/posting/fbs/act/check-status](#operation/PostingAPI_PostingFBSActCheckStatus).\n\n11. Получите штрихкод для отгрузки: [/v2/posting/fbs/act/get-barcode](#operation/PostingAPI_PostingFBSGetBarcode).\n\n12. Проверьте статус формирования накладной: [/v2/posting/fbs/digital/act/check-status](#operation/PostingAPI_PostingFBSDigitalActCheckStatus).\n    Когда статус документа перейдёт в `FORMED`, получите файлы:\n    - Транспортная накладная: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct).\n    - Лист отгрузки: [/v2/posting/fbs/digital/act/get-pdf](#operation/PostingAPI_PostingFBSGetDigitalAct).\n\nПосле этого можете отвезти отправления и документы в пункт приёма.\n\nЕсли отправление передано в доставку, но не просканировано в сортировочном центре, вы можете открыть\nспор: [/v2/posting/fbs/arbitration](#operation/PostingAPI_MoveFbsPostingToArbitration). Открытый спор переведёт\nотправление в статус `arbitration`.\n\nЕсли спор по отправлению откроет покупатель, статус отправления изменится на `client_arbitration`.\n\nЧтобы отследить изменение статуса, когда отправление найдено,\nиспользуйте [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) с нужными фильтрами.\n\nДля передачи спорных заказов к отгрузке\nиспользуйте [/v2/posting/fbs/awaiting-delivery](#operation/PostingAPI_MoveFbsPostingToAwaitingDelivery). Статус\nотправления изменится на `awaiting_deliver`.\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n### Работа с эконом-товарами\n\n1. Создайте эконом-товары в [личном кабинете](https://seller.ozon.ru/app/econom/products).\n2. Получите идентификаторы квантов с созданными товарами: [/v1/product/quant/list](#operation/QuantProductList).\n\n[Подробнее об эконом-товарах в Справке](https://seller-edu.ozon.ru/tarif-ekonom)\n\n## Схема FBS PickUp с доверительной приёмкой\n\n1. Перед началом работы с отправлениями получите список необработанных\n   отправлений: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) и\n      [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок:\n\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\n\n4. Перед сборкой убедитесь, что отправление соответствует установленным в пункте приёма ограничениям. Получите\n   ограничения пункта приёма по номеру\n   отправления: [/v1/posting/fbs/restrictions](#operation/PostingAPI_GetRestrictions).\n\n5. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n6. Подтвердите отгрузку и запустите формирование транспортной накладной методом [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) или создайте перевозку с помощью метода [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) и подтвердите её методом [/v1/carriage/approve](#operation/CarriageAPI_CarriageApprove).\n   В ответе методов [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate) и [/v1/carriage/create](#operation/CarriageAPI_CarriageCreate) вы получите идентификатор созданной перевозки.\n\n7. Получите список перевозок, по которым нужно распечатать штрихкод для отгрузки и транспортную накладную: [/v1/posting/carriage-available/list](#operation/PostingAPI_GetCarriageAvailableList) или [/v1/carriage/delivery/list](#operation/CarriageAPI_CarriageDeliveryList).\n\n8. Проверьте статус формирования накладной: [/v2/posting/fbs/digital/act/check-status](#operation/PostingAPI_PostingFBSDigitalActCheckStatus).\n   Когда статус документа перейдёт в `FORMED`, получите файлы:\n   - Транспортная накладная: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct).\n   - Лист отгрузки: [/v2/posting/fbs/digital/act/get-pdf](#operation/PostingAPI_PostingFBSGetDigitalAct).\n\n9. Для каждого отправления распечатайте наклейку для идентификации в системе\n    Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n10. После того как вы упаковали все отправления по требованиям из\n    раздела [Доверительная приёмка грузового места](https://seller-edu.ozon.ru/docs/fbs/ozon-logistika/doveritel-naya-priemka-gruzovogo-mesta.html#какие-требования-к-грузовому-месту)\n    в Базе знаний продавца, получите этикетки на каждое грузовое\n    место: [/v2/posting/fbs/act/get-container-labels](#operation/PostingAPI_PostingFBSActGetContainerLabels).\n\nПосле этого можете передать грузовое место в пункт приёма или курьеру Ozon.\n\nЕсли отправление передано в доставку, но не просканировано в сортировочном центре, вы можете открыть\nспор: [/v2/posting/fbs/arbitration](#operation/PostingAPI_MoveFbsPostingToArbitration). Открытый спор переведёт\nотправление в статус `arbitration`.\n\nЕсли спор по отправлению откроет покупатель, статус отправления изменится на `client_arbitration`.\n\nЧтобы отследить изменение статуса, когда отправление найдено,\nиспользуйте [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) с нужными фильтрами.\n\nДля передачи спорных заказов к отгрузке\nиспользуйте [/v2/posting/fbs/awaiting-delivery](#operation/PostingAPI_MoveFbsPostingToAwaitingDelivery). Статус\nотправления изменится на `awaiting_deliver`.\n\n## Схема rFBS Стандарт\n\n<aside class=\"warning\">\nС 11 марта 2024 года максимальный срок доставки до покупателя — 30 дней.\nОбновите срок в настройках вашего метода. \nЕсли срок будет больше максимального, он поменяется автоматически.\n</aside>\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана.    \n   Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n   Если в параметре `available_actions` указано `set_cutoff`, уточните дату отгрузки отправления с помощью метода\n   [/v1/posting/cutoff/set](#operation/PostingAPI_SetPostingCutoff). Сделайте это не позднее даты, которая указана в\n   параметре `shipment_date` в методах: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList),\n   [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) или [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n   После даты `shipment_date` уточнить дату отгрузки и собрать отправление не получится.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок: \n\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\n\n4. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\nКогда сборка заказа завершена, свяжитесь с покупателем для согласования даты доставки.\nЕсли покупателю не подходит дата, вы можете перенести её: [/v1/posting/fbs/timeslot/set](#operation/PostingAPI_SetPostingTimeslot).\nПосмотрите доступные даты для переноса доставки и количество доступных переносов: [/v1/posting/fbs/timeslot/change-restrictions](#operation/PostingAPI_PostingTimeslotChangeRestrictions).\n\nПередайте отправление курьеру:\n\n1. Когда курьер забрал отправление, измените статус отправления на\n   «Доставляется»: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering).\n\n   <aside class=\"notice\">\n   Если вы не составляете маршрутный лист и курьер сразу направляется к покупателю, можете сразу перевести отправление из\n   статуса «Доставляется» в «Последняя миля»: <a href=\"#operation/PostingAPI_FbsPostingLastMile\">/v2/fbs/posting/last-mile</a>.\n   </aside>\n\n   Одновременно с этим, если у отправления есть трек-номер, передайте\n   его: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet).\n\n2. Когда курьер едет к покупателю, поменяйте статус отправления на «Последняя\n   миля»: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile).\n\n3. Когда курьер передал отправление покупателю, поменяйте статус на\n   «Доставлено»: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered).\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Схема rFBS Express с доставкой в пункт выдачи\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать страну-производителя для всех товаров в заказе, у которых она не указана.\n   Получите список доступных для выбора стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). \n   Затем передайте информацию о стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. \n   Можно также получить данные аналитики, если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n   - какие товары подлежат обязательной маркировке;\n   - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n     также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». \n   При необходимости передайте номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок:\n\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\n\n4. До окончания времени на сборку подтвердите, что вы собрали заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). \n   Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. \n   Например, если в заказе несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n5. Распечатайте этикетку для идентификации в системе Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel). \n\n6. Передайте отправление курьеру.\n\nДальше подстатусы будут изменяться автоматически: \n1. `on_way_to_city` — курьер забрал заказ. \n2. `on_way_to_pickup_point` — курьер везёт заказ в пункт выдачи.\n3. `in_pickup_point` — отправление приняли в пункте выдачи.\n4. `delivered` — покупатель забрал заказ из пункта выдачи.\n\nЧтобы проверить статус отправления, используйте метод [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении, используйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Схема rFBS с интегрированной службой доставки\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок:\n\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\n\n4. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\nПередайте отправление в службу доставки. Все статусы от «Доставляется» до «Доставлено» будет передавать служба доставки.\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Схема rFBS Агрегатор\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n   - какие товары подлежат обязательной маркировке;\n   - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n     также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n     и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок:\n\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\n\n4. Если товар в отправлении упакован в несколько коробок, передайте их количество: [/v3/posting/multiboxqty/set](#operation/PostingAPI_PostingMultiBoxQtySetV3). Если не сделать этого до сборки, вам придётся объединить все коробки в одну.\n\n5. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_registration`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n6. Когда перевозчик обработает отправление, его статус изменится с `awaiting_registration` на `awaiting_delivery`. После\n   этого отправлению будет присвоен трек-номер.\n\n   Для каждого отправления распечатайте этикетку для идентификации в системе\n   Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n   Передайте отправление в службу доставки. Все статусы от «Доставляется» до «Доставлено» будет передавать служба доставки.\n\nЕсли вы продаёте из Турции и вам нужны декларации Elektronik Ticaret Gümrük Beyannamesi (ETGB) для возврата налоговой пошлины, \nполучите декларации: [/v1/posting/global/etgb](#operation/PostingAPI_GetEtgb).\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Схема rFBS Crossborder\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана.    \n   Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n   Если в параметре `available_actions` указано `set_cutoff`, уточните дату отгрузки отправления с помощью метода\n   [/v1/posting/cutoff/set](#operation/PostingAPI_SetPostingCutoff). Сделайте это не позднее даты, которая указана в\n   параметре `shipment_date` в методах: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList),\n   [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) или [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n   После даты `shipment_date` уточнить дату отгрузки и собрать отправление не получится.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок:\n\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\n\n4. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n5. Если в настройках метода доставки вы задали временной промежуток для передачи отправления в службу доставки, измените\n   статус отправления на `sent_by_seller` — «Отправлено\n   продавцом»: [/v2/fbs/posting/sent-by-seller](#operation/PostingAPI_FbsPostingSentbyseller).\n\n6. После передачи отправления в службу доставки измените статус отправления на `delivering` —\n   «Доставляется»: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering).\n\n7. Одновременно с этим, если у отправления есть трек-номер, передайте\n   его: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet).\n\n8. Когда курьер едет к покупателю, поменяйте статус отправления на «Последняя\n   миля»: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile).\n\n9. Когда курьер передал отправление покупателю, поменяйте статус на\n   «Доставлено»: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered).\n\n## Схема rFBS Crossborder с интегрированной службой доставки\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана.    \n   Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Отправления могут прийти в статусах `awaiting_packaging`, `awaiting_approve` или `awaiting_verification`.\n\n2. Получите дополнительную информацию о заказах: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   С помощью метода [/v5/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSet) добавьте для каждого экземпляра маркировку, которую будете передавать в систему «Честный ЗНАК». При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   [Подробнее о маркировке «Честный ЗНАК» в Базе знаний](https://seller-edu.ozon.ru/work-with-goods/trebovaniya-k-kartochkam-tovarov/product-information/obyazatelnaya-markirovka-tovarov)\n\n   Получите статусы передачи маркировок:\n\n- [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus) — получить статус добавления экземпляров.\n- [/v5/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGet) — получить данные созданных экземпляров.\n\n4. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если:\n   - заказ не в статусе `awaiting_packaging`;\n   - вы не указали коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v4/posting/fbs/ship/package](#operation/PostingAPI_ShipFbsPostingPackage).\n\n5. Для каждого отправления распечатайте этикетку для идентификации в системе\n   Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n6. Если в настройках метода доставки вы задали временной промежуток для передачи отправления в службу доставки, измените\n   статус отправления на `sent_by_seller` — «Отправлено\n   продавцом»: [/v2/fbs/posting/sent-by-seller](#operation/PostingAPI_FbsPostingSentbyseller).\n\nПередайте отправление в службу доставки. Все статусы от «Доставляется» до «Доставлено» будет передавать служба доставки.\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Как работать с заказами с весовыми товарами (rFBS)\n\nПеред тем, как перевести заказ с весовыми товарами в статус «Ожидает отгрузки» — `awaiting_delivery`, передайте\nуточнённые данные о весе весовых товаров. Для этого после взвешивания во время сборки передайте информацию о весе\nкаждого экземпляра каждого весового SKU через\nметод [/v2/posting/fbs/product/change](#operation/PostingAPI_CancelFbsPosting).\n\nТовар необходимо взвешивать, если при создании товара вы указали, что товар весовой, и добавили к нему атрибуты 20577,\n8933 и 8934.\n\nПосле передачи корректного веса для всех экземпляров всех весовых товаров вы сможете перевести отправление в статус\n«Ожидает отгрузки» — `awaiting_delivery`.\n\nAPI вернёт ошибку 400, если вы:\n\n- взвесили не все экземпляры из отправления,\n- передали значение веса для невесового товара,\n- вес экземпляра не попал в диапазон заданный атрибутами 8933 и 8934.\n\n# Работа с архивом актов\n\n<br>\n\n- [/v2/posting/fbs/act/list](#operation/PostingAPI_FbsActList) — получите список сформированных ранее актов.\n- [/v2/posting/fbs/act/get-postings](#operation/PostingAPI_ActPostingList) — получите список отправлений по каждому\n  акту.\n\n# Получите информацию о возвратах товаров\n\n[/v1/returns/list](#operation/returnsList) — получите информацию о возвращённых товарах.\n\n# Получите возвратные отгрузки по штрихкоду\n\nУбедитесь, что вы можете получать возвратные отгрузки по штрихкоду: [/v1/return/giveout/is-enabled](#operation/ReturnAPI_GiveoutIsEnabled). Если у вас есть доступ, в параметре `enabled` будет указано значение `true`.\n\nЧтобы получить возвратную отгрузку, запросите штрихкод:\n- [/v1/return/giveout/get-pdf](#operation/ReturnAPI_GiveoutGetPDF) — получить штрихкод в формате PDF.\n- [/v1/return/giveout/get-png](#operation/ReturnAPI_GiveoutGetPNG) — получить штрихкод в формате PNG.\n- [/v1/return/giveout/barcode](#operation/ReturnAPI_GiveoutGetBarcode) — получить штрихкод в текстовом виде.\n\nПолучите информацию и список возвратных отгрузок:\n- [/v1/return/giveout/list](#operation/ReturnAPI_GiveoutList) — получить список возвратных отгрузок.\n- [/v1/return/giveout/info](#operation/ReturnAPI_GiveoutInfo) — получить информацию о выбранной отгрузке.\n  \nВы можете забрать возвраты отдельно от поставки товаров. Если для проезда на склад Ozon нужен пропуск, создайте его с помощью метода [/v1/return/pass/create](#operation/returnPassCreate).\nДля каждого проезда за возвратами нужен новый пропуск.\n\nДля редактирования и удаления пропуска используйте методы [/v1/return/pass/update](#operation/returnPassUpdate) и [/v1/return/pass/delete](#operation/returnPassDelete).\n  \nСписок всех пропусков можно получить с помощью метода [/v1/pass/list](#operation/PassList).\n\n[Подробнее об оформлении пропусков](https://seller-edu.ozon.ru/fbs/ozon-logistika/oformlenie-propuska)\n\n# Управляйте заявками на возврат rFBS-заказов\n\nПолучите заявки и информацию о них:\n\n- [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2) — получите информацию по\n  заявке на возврат rFBS.\n- [/v2/returns/rfbs/list](#operation/RFBSReturnsAPI_ReturnsRfbsListV2) — получите список\n  заявок на возврат rFBS.\n\nВы можете одобрить, компенсировать, подтвердить возврат денег, запросить товар для проверки и отклонить заявку методом [/v1/returns/rfbs/action/set](#operation/ReturnsAPI_ReturnsRfbsActionSet). \nДля передачи корректного `action` получите список доступных для конкретного возврата, в методе [/v2/returns/rfbs/get](#operation/RFBSReturnsAPI_ReturnsRfbsGetV2).\n\n# Управляйте заявками на отмену\n\nПолучите заявки и информацию о них: [/v2/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationListV2).\n\nПримите решение по новой заявке на отмену — подтвердите или отклоните её:\n\n- [/v2/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApproveV2) — подтвердите заявку\n  на отмену rFBS. Заказ будет автоматически отменён, а деньги вернутся покупателю.\n- [/v2/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationRejectV2) — отклоните заявку на\n  отмену rFBS. Заказ останется в том же статусе, и его нужно будет доставить покупателю.\n\n# Управляйте чатами\n\nДля получения списка чатов используйте [/v3/chat/list](#operation/ChatAPI_ChatListV3). В ответе будут идентификаторы текущих чатов и последних сообщений.\n\nДля отправки сообщений по идентификатору чата используйте методы:\n\n- [/v1/chat/send/message](#operation/ChatAPI_ChatSendMessage) — для отправки текстового сообщения.\n\n- [/v1/chat/send/file](#operation/ChatAPI_ChatSendFile) — для отправки файла или изображения.\n\nДля получения истории чата по идентификатору чата или сообщения используйте метод [/v3/chat/history](#operation/ChatAPI_ChatHistoryV3). Направление сортировки по\n  умолчанию — от новых сообщений к старым.\n\nЕсли указать идентификатор сообщения, то история начнётся с этого сообщения.\n\nЧтобы создать новый чат с покупателем по номеру отправления,\nвоспользуйтесь [/v1/chat/start](#operation/ChatAPI_ChatStart).\n\nЧтобы отметить сообщение и все сообщения до него прочитанными,\nиспользуйте [/v2/chat/read](#operation/ChatAPI_ChatReadV2).\n\n# Создайте и получите отчёты\n\nПри запросе любого из отчётов сначала возвращается код на создание документа. Отправьте его в запросе метода\n[/v1/report/info](#operation/ReportAPI_ReportInfo) — в ответе вернётся файл отчёта и дополнительная информация.\n\nЧтобы получить список сформированных ранее отчётов, используйте [/v1/report/list](#operation/ReportAPI_ReportList).\n\nМетоды для получения отчётов:\n\n- [/v1/report/products/create](#operation/ReportAPI_CreateCompanyProductsReport) — отчёт с данными о товарах, например\n  Ozon&nbsp;ID, описанием товара, цены, комиссии или габаритов упаковки.\n\n- [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) — отчёт по транзакциям,\n  доступный в личном кабинете продавца.\n\n- [/v4/product/info/price](#operation/ProductAPI_GetProductInfoPricesV4) — отчёт по ценам.\n\n- [/v1/report/warehouse/stock](#operation/ReportAPI_CreateStockByWarehouseReport) — отчёт по остаткам на складе.\n\n- [/v2/report/returns/create](#operation/ReportAPI_ReportReturnsCreate) — отчёт о возвращённых товарах для FBS и\n  rFBS. Отчёт содержит товары, принятые от покупателя, готовые к получению или переданные продавцу.\n\n- [/v1/report/postings/create](#operation/ReportAPI_CreateCompanyPostingsReport) — отчёт об отправлениях.\n\n- [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList) — финансовый отчёт.\n\n- [/v1/report/discounted/create](#operation/ReportAPI_CreateDiscountedReport) — отчёт об уценённых товарах.\n\n# Получите аналитические отчёты\n\n- [/v1/analytics/data](#operation/AnalyticsAPI_AnalyticsGetData) — получите данные аналитики.\n\n  Если укажете период и метрики, которые нужно рассчитать, в ответе будет аналитиĸа, сгруппированная по параметру\n  `dimensions`.\n\n- [/v1/analytics/stocks](#operation/AnalyticsAPI_AnalyticsStocks) — получите аналитику по остаткам товаров на складах.\n\nЧтобы получить отчёт по оборачиваемости FBO, запросите его в [личном кабинете](https://seller.ozon.ru/app/analytics/fulfillment-reports/turnover).\n\n# Получите финансовые отчёты\n\n- [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) — получите подробную информацию по\n  транзакциям для отправления.\n\n- [/v3/finance/transaction/totals](#operation/FinanceAPI_FinanceTransactionTotalV3) — получите детальную информацию по\n  итоговым суммам транзакций за указанный период.\n\n# Получите информацию о рейтинге\n\n- [/v1/rating/summary](#operation/RatingAPI_RatingSummaryV1) — получите текущие значения рейтингов продавца.\n\n- [/v1/rating/history](#operation/RatingAPI_RatingHistoryV1) — получите информацию о рейтингах продавца за период и\n  количество штрафных баллов, начисленных в Premium-программе."
    },
    {
      "name": "CategoryAPI",
      "x-displayName": "Атрибуты и характеристики Ozon"
    },
    {
      "name": "ProductAPI",
      "x-displayName": "Загрузка и обновление товаров"
    },
    {
      "name": "BarcodeAPI",
      "x-displayName": "Штрихкоды товаров"
    },
    {
      "name": "Prices&StocksAPI",
      "x-displayName": "Цены и остатки товаров"
    },
    {
      "name": "Promos",
      "x-displayName": "Акции",
      "description": "Для продвижения товаров участвуйте в акциях, которые Ozon проводит для покупателей.\nПодробнее об акциях в [Базе знаний продавца](https://seller-edu.ozon.ru/docs/how-to-sell-effectively/promo/promo.html)."
    },
    {
      "name": "PricingStrategyAPI",
      "x-displayName": "Стратегии ценообразования"
    },
    {
      "name": "BrandAPI",
      "x-displayName": "Сертификаты брендов"
    },
    {
      "name": "CertificationAPI",
      "x-displayName": "Сертификаты качества"
    },
    {
      "name": "WarehouseAPI",
      "x-displayName": "Склады"
    },
    {
      "name": "FBS",
      "x-displayName": "Обработка заказов FBS и rFBS"
    },
    {
      "name": "FBO",
      "x-displayName": "Доставка FBO"
    },
    {
      "name": "FboSupplyRequest",
      "x-displayName": "Создание и управление заявками на поставку FBO"
    },
    {
      "name": "FBS&rFBSMarks",
      "x-displayName": "Управление кодами маркировки и сборкой заказов для FBS/rFBS"
    },
    {
      "name": "DeliveryFBS",
      "x-displayName": "Доставка FBS"
    },
    {
      "name": "DeliveryrFBS",
      "x-displayName": "Доставка rFBS"
    },
    {
      "name": "Pass",
      "x-displayName": "Пропуски"
    },
    {
      "name": "ReturnsAPI",
      "x-displayName": "Возвраты товаров FBO и FBS"
    },
    {
      "name": "RFBSReturnsAPI",
      "x-displayName": "Возвраты товаров rFBS"
    },
    {
      "name": "ReturnAPI",
      "x-displayName": "Возвратные отгрузки"
    },
    {
      "name": "CancellationAPI",
      "x-displayName": "Отмены заказов"
    },
    {
      "name": "PolygonAPI",
      "x-displayName": "Полигоны"
    },
    {
      "name": "ChatAPI",
      "x-displayName": "Чаты с покупателями"
    },
    {
      "name": "SupplierAPI",
      "x-displayName": "Накладные"
    },
    {
      "name": "ReportAPI",
      "x-displayName": "Отчёты"
    },
    {
      "name": "AnalyticsAPI",
      "x-displayName": "Аналитические отчёты"
    },
    {
      "name": "FinanceAPI",
      "x-displayName": "Финансовые отчёты"
    },
    {
      "name": "AccessTokenAPI",
      "x-displayName": "Токен для API"
    },
    {
      "name": "SellerRating",
      "x-displayName": "Рейтинг продавца",
      "description": "Работая с Ozon, продавцы должны соблюдать требования по качеству обслуживания, срокам доставки и общению с клиентами. Система рейтингов отражает качество сервиса продавца, а некоторые показатели видны покупателям — это рейтинг товаров и индекс цен.\n\n[Подробнее о системе рейтингов в Базе знаний продавца](https://seller-edu.ozon.ru/docs/seller-rating/)"
    },
    {
      "name": "News",
      "x-displayName": "Обновления",
      "description": "<br> \n<aside class=\"warning\">\nСледите за обновлениями документации в <a href=\"https://t.me/OzonSellerAPI\">Telegram-канале</a>.\n</aside>\n\n## 15 августа 2025\n\n| Метод | Что изменилось                                                                                                    |\n|------|-------------------------------------------------------------------------------------------------------------------|\n| — | Добавили раздел [**Premium-методы**](#tag/Premium) и перенесли в него методы, доступные с подпиской Premium. |\n\n\n## 14 августа 2025\n\n| Метод | Что изменилось |\n|-------|----------------|\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) | Добавили параметры `items.promotions`, `items.promotions.is_enabled`, `items.promotions.type` и `items.sku` в ответ метода. |\n\n## 8 августа 2025\n\n| Метод | Что изменилось |\n|-------|----------------|\n| [/v1/finance/products/buyout](#operation/GetFinanceProductsBuyout) | Обновили описание метода. |\n\n## 6 августа 2025\n\n| Метод                                                                                                                   | Что изменилось                                                                  |\n|-------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------|\n| [/v1/carriage/set-postings](#operation/CarriageAPI_SetPostings) <br> [/v1/carriage/cancel](#operation/CarriageAPI_CarriageCancel) <br> [/v1/product/action/timer/status](#operation/ProductAPI_ActionTimerStatus) <br> [/v1/product/action/timer/update](#operation/ProductAPI_ActionTimerUpdate) | Перенесли методы из бета-раздела в основной. |\n\n## 5 августа 2025\n\n| Метод                                                                                                                   | Что изменилось                                                                  |\n|-------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------|\n| [/v1/chat/send/file](#operation/ChatAPI_ChatSendFile) <br> [/v1/chat/send/message](#operation/ChatAPI_ChatSendMessage)  | Обновили описание методов.                                                      |\n| [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList)                                                       | Пометили параметр `items.is_prepayment_allowed` в ответе метода как устаревший. |\n\n## 1 августа 2025\n\n| Метод                                                                                                                                                                                                             | Что изменилось             |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------|\n| [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList) <br>[/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) <br> [/v3/finance/transaction/totals](#operation/FinanceAPI_FinanceTransactionTotalV3) | Обновили описания методов. |\n\n## 30 июля 2025\n\n| Метод                                                                                | Что изменилось                               |\n|--------------------------------------------------------------------------------------|----------------------------------------------|\n| [/v1/analytics/average-delivery-time/summary](#operation/AverageDeliveryTimeSummary) | Добавили бета-метод для получения общей аналитики по среднему времени доставки. |\n\n## 28 июля 2025\n\n| Метод                                                         | Что изменилось                                                                                                                                                          |\n|---------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v3/chat/list](#operation/ChatAPI_ChatListV3) | Добавили новую версию метода для получения информации о чатах по указанным фильтрам.                                         |\n| [/v2/chat/list](#operation/ChatAPI_ChatListV2) | Метод устаревает и будет отключён в будущем. Переключитесь на новую версию [/v3/chat/list](#operation/ChatAPI_ChatListV3).   |\n|[/v1/finance/document-b2b-sales/json](#operation/ReportAPI_CreateDocumentB2BSalesJSONReport)| Добавили параметр `invoices.buyer_info.name` в ответ метода. |\n| [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) | Обновили описание метода.                                                                                                                                               |\n| [/v1/posting/digital/list](#operation/ListPostingCodes)       | В ответе метода: <ul><li>обновили описание параметра `result.status`;</li><li>удалили параметры `result.products.digital_codes` и `result.products.quantity`.</li></ul> |\n\n## 24 июля 2025\n\n| Метод                                                                                | Что изменилось                               |\n|--------------------------------------------------------------------------------------|----------------------------------------------|\n| [/v1/removal/from-supply/list](#operation/GetSupplyReturnsSummaryReport) | Добавили бета-метод для получения отчёта по вывозу и утилизации с поставки FBO. |\n| [/v1/removal/from-stock/list](#operation/GetSupplierReturnsSummaryReport) | Добавили бета-метод для получения отчёта по вывозу и утилизации со стока FBO.  |\n| [/v1/finance/realization/posting](#operation/FinanceAPI_GetRealizationReportV1)<br>[/v2/finance/realization](#operation/FinanceAPI_GetRealizationReportV2) | Обновили описание методов. |\n\n## 23 июля 2025\n\n| Метод                                                                                                                                                                                                                                                                                                                                       | Что изменилось                               |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------|\n| [/v1/analytics/product-queries](#operation/AnalyticsAPI_AnalyticsProductQueries)<br>[/v1/analytics/product-queries/details](#operation/AnalyticsAPI_AnalyticsProductQueriesDetails)<br>[/v1/finance/compensation](#operation/ReportAPI_GetCompensationReport)<br>[/v1/finance/decompensation](#operation/ReportAPI_GetDecompensationReport) | Перенесли методы из бета-раздела в основной. |\n\n## 22 июля 2025\n\n| Метод                                                                                                                                                                                            | Что изменилось                                                                                                                                                      |\n|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes)                                                                                                            | Обновили описание параметра `result.id` в ответе метода.                                                                                                            |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                                                     | Обновили описание параметра `result.requirements.products_requiring_change_country` в ответе метода.                                                                |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)                                      | Обновили описание параметров `result.postings.requirements.products_requiring_change_country` и `result.postings.financial_data.products.actions` в ответе методов. |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)<br> [/v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting) <br> [/v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList) | Обновили описание параметра `result.financial_data.products.actions` в ответе методов.                                                                              |\n\n## 21 июля 2025\n\n| Метод                                                                                | Что изменилось                               |\n|--------------------------------------------------------------------------------------|----------------------------------------------|\n| [/v1/finance/products/buyout](#operation/GetFinanceProductsBuyout) <br> [/v1/finance/document-b2b-sales/json](#operation/ReportAPI_CreateDocumentB2BSalesJSONReport)| Перенесли методы из бета-раздела в основной. |\n\n## 15 июля 2025\n\n| Метод                                                                                | Что изменилось                               |\n|--------------------------------------------------------------------------------------|----------------------------------------------|\n| [/v1/finance/realization/by-day](#operation/FinanceAPI_GetRealizationByDayReportV1)  | Перенесли метод из бета-раздела в основной.  |\n\n## 14 июля 2025\n\n| Метод                                              | Что изменилось                                                         |\n|----------------------------------------------------|------------------------------------------------------------------------|\n| [/v1/roles](#operation/AccessAPI_RolesByToken) | Добавили бета-метод для получения списка ролей и методов по API-ключу. |\n\n## 2 июля 2025\n\n| Метод                                                                                                                                                       | Что изменилось                                                                                     |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------|\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                | Добавили параметр `result.requirements.products_requiring_change_country` в ответ метода.          |\n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)<br>[/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) | Добавили параметр `result.postings.requirements.products_requiring_change_country` в ответ метода. |\n| [/v1/analytics/data](#operation/AnalyticsAPI_AnalyticsGetData) | Обновили описание метода. Обновили описание параметров `dimension` и `metrics` в запросе метода. |\n\n## 1 июля 2025\n\n| Метод                                                                                                                                                                                                                                                                                                                                              | Что изменилось                                                                                                                                                                                                                                                               |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/finance/products/buyout](#operation/GetFinanceProductsBuyout)                                                                                                                                                                                                                                                                                 | Добавили бета-метод для получения отчёта по выкупленным товарам.                                                                                                                                                                                                             |\n| [/v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList) <br> [/v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting) <br> [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                                                                  | Добавили параметр `result.products.is_marketplace_buyout` в ответы методов.                                                                                                                                                                                                  |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) <br> [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)                                                                                                                                                                                      | Добавили параметр `result.postings.products.is_marketplace_buyout` в ответы методов.                                                                                                                                                 
[...]
